
* {
  font-family: 'Orbitron', sans-serif;
}

body {
    background-image: url('https://wallpaperaccess.com/full/4091251.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
  }

#root {
  background-color: rgba(0, 0, 0, 0.35);
}